/* Create two equal columns that floats next to each other */

  
   /* #odd {
      
      width: 30%;
      border: 3px solid grey;
      padding: 5px;
      position: fixed;
      top: 6%;
      right: 40%;
    }   */